PORT=3000
CORS_ORIGIN=*
LOG_LEVEL=debug
RABBITMQ_AMQ=amqp://admin:admin@localhost:5672
RABBITMQ_MANAGEMENT_URL=http://localhost:15672
RABBITMQ_PREFETCH=10
RABBITMQ_DEFAULT_DLQ=
RABBITMQ_DEFAULT_REQUEUE_EXCHANGE=
RABBITMQ_DEFAULT_REQUEUE_ROUTING_KEY=
MONGODB_URI=mongodb://localhost:27017/dlq-console
